<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Exercice5JS4</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="script5.js"></script>
</head>

<body>
  <div ng-app="app" ng-controller="testCtrl">
    <button ng-click="hide()">Cacher</button>
    <button ng-click="show()">Afficher</button>
    <p ng-show="hide1">Je n'aime pas angularJS et pourtant je savais que j'allais corriger cette partie de M....;-)</p>
    <script>
      < /body> <
      </html>
